.footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.scrollToTopBtn {
    background-color: #37475a;
    height: 50px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toTopA {
    text-decoration: none;
    color: #ffffff;
}

.footer__content {
    background-color: #232F3E;
    height: 300px;
    width: 100%;
}