.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 20px;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header__searchInput {
    padding: 5px 10px;
    height: 22px !important;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 100%;
}
.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #f3a847;
    border-radius: 0 5px 5px 0;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__navOption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}

.header__navOptionCart {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.headerBasketCount {
    margin-left: 10px;
    margin-right: 10px;
}