
.product {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #ffffff;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}
.product__ratingStar {
    width: 20px;
    object-fit: contain;
}
.product__image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product__info {
    height: 100px;
    width: 70%;
    margin-bottom: 15px;
}
.product__price {
    margin-top: 5px;
}
.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111111;
    padding: 3px 6px;
}